*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background: white ;
}
.navbar{
    display: flex; 
    height: 80px;
    margin-top: 30px;
    margin-left: 40px;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}
ul{
   gap: 2rem;
   margin-left: 270px;
   display: flex;
   margin-top: 5px;
}
.home{
    color: aqua;
}
.box{
    display: flex;
    gap: 3rem;
}
.box-1{
    width: 300px;
    height: 80px;
    margin-left: 40px;
    margin-bottom: 80px;
}
.circle{
    width: 40px;
    height: 30px;
    border-radius: 50%;
    background-color: darkblue;
    margin-top: 30px;  
}
.box-2 img{
    width: 300px;
    height: 230px;
    border-radius: 50%;
}
.container{
    display: flex;
    gap: 3rem;
    margin-top: 30px;
    
}
.all{
    width: 300px;
    height: 300px;
    background: white;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin-left: 40px;
   
}
.icon{
    width: 140px;
    height: 130px;
    background: rgb(230, 223, 223);
   border-radius: 10px;
   padding-top: 25px;
   padding-left: 15px;
   text-align: center;
}
.text{
    width: 300px;
    height: 300px;
}
.brand{
    margin-top: 20px;

}
button{
    width: 160px;
    height: 40px;
    margin-top: 30px;
    background-color: darkblue;
    color: white;
    border-radius: 15px;
    border: none;
}
.box-4{
    display: flex;
    gap: 2rem;
}
.create{
    width: 300px;
    height: 300px;
    margin-top: 30px;
    margin-left: 40px;
}
.contain{
    width: 300px;
    height: 300px;
    background: white;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin-left: 40px;
}
.tv{
    width: 100px;
    height: 100px;
    background: rgb(230, 223, 223);
   border-radius: 10px;
   padding-top: 35px;
   padding-left: 15px;
   text-align: center;
   
}
.box-5{
    display: flex;
    margin-top: 20px;
    gap: 5rem;
    margin-left: 40px;
}
.take{
    width: 300px;
    height: 300px;
}
.box-6{
    width: 780px;
    background-color: darkblue;
    display: flex;
    margin-left: 40px;
    color: white;
    gap: 2rem;
    height: 200px;
   border-top-right-radius: 50px;
   border-top-left-radius: 50px;
   padding: 30px;
}
.blue{
    background-color:  darkblue;
    width: 780px;
    margin-left: 40px;
    color: white;
    text-align: center;

}